/* reset Bootstrap css */
.row{
    margin: 0;
    padding: 0;
}
/* ------------------- */

.calculator{
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background: linear-gradient(300deg, rgba(0,0,0,0.05) , rgb(250,250,250));
    background: -webkit-linear-gradient(300deg, rgba(0,0,0,0.05) , rgb(250,250,250));
    background: -moz-linear-gradient(120deg, rgba(0,0,0,0.05) , rgb(250,250,250));
    border-radius:10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,.2),
                -10px -10px 20px rgb(255,255,255),
                -5px -5px 20px rgb(255,255,255),
                -10px -10px 5px rgb(255,255,255);
}
.textarea{
    height: 80px;
    background-color: #666;
    color: #fff;
    word-wrap: break-word;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2) 
}
.textarea span{
    display: block;
    padding: 2%;
    width: 100%;
    text-align: right;
}
.textarea #input-history{
    font-size: 14px;
    height:26%;
}
.textarea #result{
    font-size: 30px;
    font-weight: bold;
    height:66%;
}
button {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0;
}